---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>{pageTitle}</h2>

    <p>Mon outil pour faire partager ma veille et faire de la documentation !</p>

</BaseLayout>
