---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>{pageTitle}</h2>

    <p>This is my tool for doing some documentation and technology watch</p>

</BaseLayout>
