---
const {url, title, tags} = Astro.props;
---
<a  href={url}>
    <div class="blog">
        <p>{title}</p>
        <div class="blog__tags">
            {
                tags.map((tag) => (
                        <p class="tag">
                            <a href={`/tags/${tag}`}>
                                <i class="fi fi-rr-tags" /> {tag}
                            </a>
                        </p>
                ))
            }
        </div>
    </div>
</a>
<style lang="scss">
    .blog {
        display: flex;
        justify-content: space-between;
        // border: solid 0.5px rgba(170, 170, 170, 0.325);
        box-shadow: 0 0 16px 0px #2f2f2f1c;
        border-radius: 0.5em;
        background-color: rgba(250, 250, 250, 0.482);
        p {
            padding-left: 1em;
            padding-right: 1em;
        }
        &:hover {
            box-shadow: 0 0 16px 0px rgb(47 47 47 / 24%);
            transition: 0.2s;
        }

        .blog__tags {
            display: flex;
            align-items: center;
        }
    }
</style>