---
import Social from "./Social.astro";

const platforms = ["github", "instagram"];
const username = ["yaperson", "ya_per_son"];
---

<footer>
    <p>
        Learn more about my projects on {
            platforms.map((platform, usernam) => (
                <a
                    target="_blank"
                    href={`https://www.${platform}.com/${username[usernam]}`}
                >
                    {" "}
                    {platform}{" "}
                </a>
            ))
        } !
    </p>

    <div class="social__container">
        <Social platform="github" username="yaperson" />
        <Social platform="instagram" username="ya_per_son" />
        <Social platform="soundcloud" username="user-388226531" />
        <a class="social" href="/rss.xml" target="_blank" title="Flux RSS"><i class="fi fi-rr-wifi"></i></a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        bottom: 0;
        background-color: ;
        width: 100%;
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
        transition: 0.2s;
    }
    .social:hover {
        background-color: #4c1d9570;
        padding: 0.5rem 2rem;
        transition: 0.2s;
    }
</style>
