---
import { getRelativeLocaleUrl } from 'astro:i18n';


---
<div class="nav__links">
    <a href={getRelativeLocaleUrl('fr', '/')}>Home</a>
    <a href={getRelativeLocaleUrl('fr', '/about')}>About</a>
    <a href={getRelativeLocaleUrl('fr', '/blog')}>Blog</a>
    <a href={getRelativeLocaleUrl('en', '/tags')}>Tags</a>
</div>
