---
---
<div class="nav__links">
    <a href="/veille-astro/">Home</a>
    <a href="/veille-astro/about">About</a>
    <a href="/veille-astro/blog">Blog</a>
    <a href="/veille-astro/tags">Tags</a>
</div>
