---
const { platform, username } = Astro.props;
---

<a class="social" href={`https://www.${platform}.com/${username}`} target="_blank" title={platform}>
    <i class={`fi fi-brands-${platform}`}></i>
</a>